<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="float.css">

<body>
    <div class="container">
        <div class="top-wrap">
            <header class="header">Header</header>
            <nav class="nav">Nav</nav>
        </div>

        <div class="left-menu">
            <aside class="aside" id="left">Aside: Left</aside>
        </div>

        <div class="main-content">
            <main class="main">
                Main
                <section class="section">
                    Section
                    <article class="article">Article</article>
                </section>
            </main>
        </div>

        <div class="right-menu">
            <aside class="aside" id="right">Aside: Right</aside>
        </div>

        <div class="footer-wrap">
            <footer class="footer">Footer</footer>
        </div>
    </div>
</body>
</html>