<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/0090a58cd1.js" crossorigin="anonymous"></script>
</head>
<link rel="stylesheet" href="../../assets/styles/responsiveWeb/responsiveWeb.css">
<body>
    <div class="web">
        <nav class="navbar">
            <ul class="nav-menu">
                <li class="menu-item"><i class="fa-solid fa-house"></i>홈</li>
                <li class="menu-item"><i class="fa-solid fa-bookmark"></i>북마크</li>
                <li class="menu-item"><i class="fa-solid fa-bell"></i>알림</li>
                <li class="menu-item"><i class="fa-solid fa-eye"></i>기록</li>
                <li class="menu-item"><i class="fa-solid fa-user-group"></i>팔로잉</li>
                <li class="menu-item"><i class="fa-solid fa-arrow-up-from-bracket"></i>업로드</li>
                <li class="menu-item"><i class="fa-solid fa-gear"></i>설정</li>
            </ul>
            <div class="division-line"></div>
            <i class="fa-solid fa-bars"></i>
        </nav>
        <div class="searching-bar">
            <span>
                <input type="text"><i class="fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
    </div>
</body>
</html>