.nav-contents {
    margin: auto;
    width: 1400px;
    height: 54px;
    border: 1px black solid;
    border-radius: 3px;
    background-color: rgb(39, 156, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-content {
    list-style: none;
    margin-left: 100px;
}
.nav-item {
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: rgba(45, 120, 25, 0.521);
    border-radius: 5px;
}